extends components/template.pug 

block content 
  .main-container
    h1.title Humanoids have evolved on earth 
    p.text-top Adipisicing elit. Error amet nesciunt, illo aperiam temporibus iure itaque harum perspiciatis totam doloremque nihil nostrum numquam!
    .decoration
    figure.left
      img(src="images/animation.gif", alt="")
      figcaption 17:22
    figure.right
      img(src="images/astroGirl.jpg", alt="")
      figcaption 05:46
    figure.big
      img(src="images/hugoGernsback.jpg", alt="")
      figcaption Gernsback 
    aside.text-bottom 
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi non autem magni fugit quos, hic incidunt eius sunt placeat deleniti, blanditiis magnam consequuntur? 
      p Iure ipsam veniam minus omnis unde dolores nobis explicabo ut eaque. Provident ex fuga unde veniam hic quae, minus temporibus nihil delectus.
      p Odio repudiandae saepe. Animi perferendis autem, cupiditate quos aliquam placeat perspiciatis officia. 
      p Dolorem error necessitatibus atque quidem optio.
