// FONTS 
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Sans+Pro:wght@300&display=swap');

$font-title: 'Abril Fatface', cursive;
$font-primary: 'Source Sans Pro', sans-serif;

// COLORS
$blue-dark: #1B2B37;
$blue-mid: #3A5C6C;
$blue-light: #2c96c7;
$grey-dark: #817F84;
$grey-light: #dfd7d7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 870px;  
}

body {
  background-color: $blue-dark;
  font-size: 1.4rem;
  font-family: $font-primary;
  color: $grey-light;
}
